[Desktop Entry]
Name=ArcoBobo Welcome
GenericName=ArcoBobo Welcome
X-GNOME-FullName=ArcoBobo Welcome
Comment=Welcome Application for ArcoBobo Installation
Exec=/usr/bin/arcobobo-welcome
Icon=arcolinux-hello
Terminal=false
Type=Application
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=welcome;tool;
StartupNotify=true
